@model PyrvoZadanie.ViewModels.ExpenseViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Expense.Id"/>
            <table>
                <thead>
                    <tr>
                        <th width="30%">Expense name</th>
                        <th width="30%">Amount</th>
                        <th width="30%">Expense type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="30%"><input asp-for="Expense.ExpenseName" /></td>
                        <td width="30%"><input asp-for="Expense.Amount" /></td>
                        <td width="30%">
                            <select asp-for="Expense.ExpenseTypeId" asp-items="@Model.TypeDropDown" class="form-comntrol">
                                <option select>--Select Expense Type--</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-success">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
